In [39]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [92]:
df = pd.read_csv('BTCUSDT-1d-data.csv', index_col='timestamp')
df = df.query('timestamp < "2019"')

In [93]:
df = df[['open']]

In [98]:
df['open_tm1'] = df.open.shift(1)
df['pct_change'] = (df.open - df.open_tm1)*100/df.open_tm1
df['ret'] = np.log(df.open) - np.log(df.open_tm1)
df.dropna(inplace=True)
df['ret_tm1'] = df.ret.shift(1)
df.dropna(inplace=True)

In [99]:
df.open.shift(1)

timestamp
2017-08-23        NaN
2017-08-24    4040.00
2017-08-25    4147.00
2017-08-26    4316.01
2017-08-27    4280.71
               ...
2018-12-27    3745.56
2018-12-28    3777.74
2018-12-29    3567.89
2018-12-30    3839.00
2018-12-31    3696.71
Name: open, Length: 496, dtype: float64

In [100]:
df

               open  open_tm1  pct_change       ret   ret_tm1
timestamp
2017-08-23  4040.00   4016.00    0.597610  0.005958 -0.013143
2017-08-24  4147.00   4040.00    2.648515  0.026140  0.005958
2017-08-25  4316.01   4147.00    4.075476  0.039946  0.026140
2017-08-26  4280.71   4316.01   -0.817885 -0.008212  0.039946
2017-08-27  4332.51   4280.71    1.210080  0.012028 -0.008212
...             ...       ...         ...       ...       ...
2018-12-27  3777.74   3745.56    0.859151  0.008555 -0.068248
2018-12-28  3567.89   3777.74   -5.554908 -0.057152  0.008555
2018-12-29  3839.00   3567.89    7.598609  0.073238 -0.057152
2018-12-30  3696.71   3839.00   -3.706434 -0.037769  0.073238
2018-12-31  3803.12   3696.71    2.878505  0.028379 -0.037769

[496 rows x 5 columns]

In [46]:
df['z_ret'] = (df.ret - df.ret.mean())/df.ret.std()

In [47]:
df.z_ret.describe()

count    5.000000e+02
mean    -2.131628e-17
std      1.000000e+00
min     -4.432069e+00
25%     -4.116816e-01
50%      3.854502e-02
75%      4.243705e-01
max      4.228168e+00
Name: z_ret, dtype: float64

In [44]:
np.percentile(zscore, 99)

2.5123211865846073

In [103]:
(np.sign(df.ret) == np.sign(df.ret_tm1)).sum()/df.shape[0]

0.4778225806451613

In [55]:
np.corrcoef(df.ret, df.ret_tm1)

array([[1.00000000e+00, 7.49058534e-04],
       [7.49058534e-04, 1.00000000e+00]])

In [59]:
df['s'] = np.sign(df.ret_tm1)

In [71]:
df['s_outcome'] = (df.s==np.sign(df.ret)).astype(int)
df.loc[df.s_outcome==0 ,'s_outcome'] = -1

In [72]:
np.sum(df.s_outcome*200)

-4800

In [73]:
(df.s_outcome == 1).sum()

238

In [76]:
df.s_outcome.sum()

-24

In [77]:
df.shape

(500, 7)